<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home_index') }}">
                <span class="logo-text">ANCAMARCUS<span class="logo-text-highlight">FIT</span></span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menuCollapse" aria-controls="menuCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            <div class="navbar-collapse collapse" id="menuCollapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav" id="navbar">
                    <li class="nav-item"> <a class="nav-link {% if app.request.get('_route') == 'home_index' %}active{% endif %}" href="{{ path('home_index') }}">Home</a></li>
                    <li class="nav-item"> <a class="nav-link {% if app.request.get('_route') == 'bio_index' %}active{% endif %} " href="{{ path('bio_index') }}">Bio</a></li>
                    {#<li class="nav-item"> <a class="nav-link {% if app.request.get('_route') == 'workout_programs_index' %}active{% endif %}" href="{{ path('workout_programs_index') }}">Workout Programs</a></li>#}
                    <li class="nav-item"><a class="nav-link {% if app.request.get('_route') == 'blog' %}active{% endif %}" href="{{ path('blog') }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link {% if app.request.get('_route') == 'contact_index' %}active{% endif %}" href="{{ path('contact_index') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
