{% extends 'base.html.twig' %}

{% block body %}
  <!-- {% include 'CommonElements/_slider_css.html.twig' %} -->

  <div class="spacer-40"></div>
  <div class="section">
    <div class="container project-page">
      <div class="white-box-top-0 center">
        <div class="row">
          <!-- {#<article class="">#}
                    <div class="col-md-12">
                        <h3>Recent posts...</h3>
                        {% for post in posts if posts is not empty %}
                            <hr style="border-color: goldenrod;" />
                            <h4><a href="{{ path('blog_post', { slug: post.slug }) }}" style="text-decoration: none;">{{ post.title }}</a></h4>
                            <small>by {{ post.author.name }} on {{ post.createdAt|date('M d, Y H:i A') }}</small>
                            <p>{{ post.description }}</p>
                        {% endfor %}
                        <hr />
                    </div>
                {#</article>#} -->
          {% for post in posts if posts is not empty %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <article class="post">
                <h2><a href="{{ path('blog_post', { slug: post.slug }) }}">{{ post.title }}</a></h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}"><img src="https://placeimg.com/640/480/any" alt="{{ post.title }}"></a>
                <p>{{ post.description }}</p>
                <div class="tags">
                  <i class="fa fa-bars"></i> Category: <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a
                      href="#">Dummy</a>, <a href="#">Text</a>, <a href="#">Text</a><br> <i class="fa fa-tags"></i>
                  Tags: <a href="#">text</a>, <a href="#">printing</a>, <a href="#">dummy</a>
                </div>
              </article>
            </div>
          {% endfor %}
          <div class="col-sm-12 col-md-6 col-lg-4">
            <article class="post">
              <h2><a href="#">What is Lorem Ipsum?</a></h2>
              <a href="#"><img src="https://placeimg.com/640/480/any"></a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book</p>
              <div class="tags">
                <i class="fa fa-bars"></i> Category: <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Dummy</a>,
                <a href="#">Text</a>, <a href="#">Text</a><br> <i class="fa fa-tags"></i> Tags: <a href="#">text</a>, <a
                    href="#">printing</a>, <a href="#">dummy</a>
              </div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <article class="post">
              <h2><a href="#">What is Lorem Ipsum?</a></h2>
              <a href="#"><img src="https://placeimg.com/640/480/any"></a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book</p>
              <div class="tags">
                <i class="fa fa-bars"></i> Category: <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Dummy</a>,
                <a href="#">Text</a>, <a href="#">Text</a><br> <i class="fa fa-tags"></i> Tags: <a href="#">text</a>, <a
                    href="#">printing</a>, <a href="#">dummy</a>
              </div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <article class="post">
              <h2><a href="#">What is Lorem Ipsum?</a></h2>
              <a href="#"><img src="https://placeimg.com/640/480/any"></a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book</p>
              <div class="tags">
                <i class="fa fa-bars"></i> Category: <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Dummy</a>,
                <a href="#">Text</a>, <a href="#">Text</a><br> <i class="fa fa-tags"></i> Tags: <a href="#">text</a>, <a
                    href="#">printing</a>, <a href="#">dummy</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
