{% extends 'base.html.twig' %}
{% block header %}
    <div class="title title-trainer">
        <div class="container">
            <h1>Blog</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
<section style="background-color: #FFFFFF;">
    <!-- begin Trainers -->
    <article class="trainers trainers-single">
        <div class="container">
            <h3>Recent posts...</h3>
            {% for post in posts if posts is not empty %}
                <hr />
                <h4><a href="{{ path('blog_post', { slug: post.slug }) }}">{{ post.title }}</a></h4>
                <small>by {{ post.author.name }} on {{ post.createdAt|date('M d, Y H:i A') }}</small>
                <p style="margin-top:10px;">{{ post.description }}</p>
            {% endfor %}
            <hr />
        </div>
    </article>
    <!-- end Trainers -->
</section>
{% endblock %}
