{% extends 'base.html.twig' %}

{% block body %}
  <!-- {% include 'CommonElements/_slider_css.html.twig' %} -->

  <div class="spacer-40"></div>
  <div class="section">
    <div class="container project-page">
      <div class="white-box-top-0 center">
        <div class="row">
          {% for post in posts if posts is not empty %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <article class="post">
                <h2><a href="{{ path('blog_post', { slug: post.slug }) }}">{{ post.title }}</a></h2>
                <a href="{{ path('blog_post', { slug: post.slug }) }}"><img
                    src="{{ asset('assets/images/blog/' ~ post.image) }}" alt="{{ post.title }}"></a>
                <p>{{ post.description }}</p>
                {% include('Blog/_post_categories.html.twig') %}
                {% include('Blog/_post_tags.html.twig') %}
              </article>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
