{% extends 'base.html.twig' %}

{% block body %}
  {% include 'CommonElements/_slider_css.html.twig' %}
  <div class="spacer-40"></div>
  <div class="section">
    <div class="container project-page">
      <div class="white-box-top-0 center">
        <div class="row">
          <div class="col-md-12">
            <div class="post-content" style="background-color: #FFFFFF; padding: 5px;">
              {% for tag in post.tags %}
                {{ dump(tag.title) }}
              {% endfor %}
              <img src="{{ asset('assets/images/blog/' ~ post.image) }}" alt="{{ post.title|raw }}">
              <small class="published-at">{{ post.createdAt|date('M d, Y @ H:i A') }}</small><br>
              {% if post.author %}
                <small>by</small>
                <h5 style="text-align: center;"><span>{{ post.author|raw }}</span></h5>
              {% endif %}
              <h4 style="text-align: center;">{{ post.title|raw }}</h4>
              <hr style="border-color: goldenrod;"/>
              <article class="blog-article">
                {{ post.body|raw }}
              </article>
              <div class="tags">
                <i class="fa fa-bars"></i> Category: <a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a
                    href="#">Dummy</a>, <a href="#">Text</a>, <a href="#">Text</a><br> <i class="fa fa-tags"></i>
                Tags: <a href="#">text</a>, <a href="#">printing</a>, <a href="#">dummy</a>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
