{% extends 'base.html.twig' %}

{% block header %}

    <div class="title title-contact">
        <div class="container">
            <h1>Contact</h1>
        </div>
    </div>

{% endblock %}

{% block body %}
<!-- begin Content -->
<section>

    <!-- begin Timetable -->
    <article class="contact">
        <div class="container">
            {#<div class="map" id="map2"></div>#}
            <div class="row">
                <div class="col-md-8">
                    <h6 class="contact-form-title">Ask me anything!</h6>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.completeName) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.message) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-form" type="submit"><i class="icon-mail"></i>Send Id</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-response">{{ include('CommonElements/_flash-messages.html.twig') }}</div>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>

                <div class="col-md-4">
                    <h6 class="contact-form-title">Information</h6>
                    <p>My commitment for you is to answer and be available ASAP. However, if this is not possible during your time, I will make sure I'll get back to you within 1 day.</p>
                    <address>
                        <p><i class="icon-location"></i>Santa Monica, California, USA</p>
                        {#<p><i class="icon-clock"></i>Monday to friday from 8AM to 7PM</p>#}
                        <p><i class="icon-mail"></i><a href="mailto:fitness@ancamarcusfit.com">fitness@ancamarcusfit.com</a></p>
                        <p><i class="icon-mobile"></i>+1 (310) 795-2020</p>
                    </address>
                </div>

            </div>
        </div>
    </article>
    <!-- end Timetable -->

</section>
<!-- end Content -->
{% endblock %}
