<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ 'project.businessDesc'|trans }}">
        <meta name="keywords" content="{{ 'project.businessKeywords'|trans }}">
        <meta name="author" content="{{ 'project.webAuthor'|trans }}">
        <title>{% block title %}{{ 'project.businessTitle'|trans }}{% endblock %}</title>

        {% block stylesheets %}

        <!-- ============ GOOGLE FONTS ============ -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <!-- Animate css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />
        <!-- Slider css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slippry.css') }}">
        <!-- Custom styles CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}">
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

        <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">

        {% endblock %}

    </head>
    {#<body data-spy="scroll" data-target="#navbar" data-offset="10">#}
    <body >

    <!-- Loading Site -->
    {#{% include 'Header/_loader.html.twig' %}#}
    <!-- HEADER -->
    {% include 'Header/_header.html.twig' %}


    {% block body %}

    {% endblock %}





    <!-- Scroll Up -->
    <button onclick="topFunction();" id="myBtn"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
    <!-- FOOTER -->
    <div class="spacer-100"></div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col left">
                    <div class="footer-logo">
                        {#<img src="images/logo.svg" alt="logo" />#}
                        {{ 'project.logoName'|trans }}</div>
                </div>
                <div class="col center">
                    <div class="footer-social">
                        <a href="{{ 'social.facebook'|trans }}"><i class="fa fa-facebook"  aria-hidden="true"></i></a>
                        {#<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>#}
                        <a href="{{ 'social.twitter'|trans }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="{{ 'social.instagram'|trans }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col right info">{{ 'footer.copyright'|trans }}</div>
            </div>
        </div>
    </footer>


    {% block javascripts %}


        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/slippry.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('assets/js/skrollr.min.js') }}"></script>
        <script src="{{ asset('assets/js/imagesloaded.js') }}"></script>
        <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/portfolio.js') }}"></script>
        {#<script src="{{ asset('assets/js/load.js') }}"></script>#}
        <script src="{{ asset('assets/js/functions.js') }}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123356486-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-123356486-1');
        </script>

    {% endblock %}
    {% block extra_scripts %}{% endblock %}
    </body>
</html>
