<div id="slider-revolution" class="banner">
    <ul>
        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/1.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>

        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/2.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>


        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/3.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>

        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/4.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>

        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/5.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>

        <li data-transition="slotslide-horizontal" data-slotamount="1">
            <img src="{{ asset('assets/img/slider/6.jpg') }}" alt="//" />
            <div
                    class="caption lft txt"
                    data-x="200"
                    data-y="50"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="easeOutBack"
            >
                <a class="btn btn-slider"><i class="icon-heart-empty"></i>Start Now</a>
                <p class="title">Tittle</p>
                <p class="subtitle">Build athletically toned muscles!</p>
            </div>
        </li>

    </ul>
</div>